VITE_SUPABASE_URL=https://bkaelehexhgiggiorxme.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrYWVsZWhleGhnaWdnaW9yeG1lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMjQ1MTksImV4cCI6MjA5OTYwMDUxOX0.Z_XXQpcLFqoVoIeffLwLd_GgM0RQNBBwjShOAnJtJyI
